body{
    background-image: url();
}

h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input{
    border: none;
    margin-bottom: 10px;
    padding: 5px;
    width: 50%;
}

form{
    width: 30%;
    text-align: center;
    background-color: rgb(140, 49, 226,0.8);
    margin: 100px auto;
    padding: 10px 0 20px;
    border-radius: 30px;
}

body{
    background-image: url(https://th.bing.com/th/id/R.a2da9ea2dfedd498ad6436b22884cfa3?rik=oxzANk%2fuppdPLA&pid=ImgRaw&r=0);
    
}

button{
    background-color: rgb(27, 153, 27);
    border-radius: 10px;
    padding: 8px;
    width: 120px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor:pointer;
}
